
<div class="topnav">
    <div class="topnav_bd w990 bc">
        <div class="topnav_left">

        </div>
        <div class="topnav_right fr">
            <ul>
                <empty name="Think.session.user_id">
                    <li>您好，欢迎来到京西！[<a href="{:U('user/login',['reUri'=>CONTROLLER_NAME.'-'.ACTION_NAME])}">登录</a>] [<a href="{:U('user/register')}">免费注册</a>] </li>
                    <else />
                    <li>您好  <span style="color:red"> {$Think.session.user.level_name} | {$Think.session.user.username}</span>，欢迎来到京西！[<a href="{:U('user/logout')}">退出</a>] [<a href="register.html">免费注册</a>] </li>
                </empty>
                <li class="line">|</li>
                <li>我的订单</li>
                <li class="line">|</li>
                <li>客户服务</li>

            </ul>
        </div>
    </div>
</div>
<!-- 顶部导航 end -->