<extend name="Public:base"/>
<block name="title">ECSHOP 管理中心 - 分类添加 </block>
<block name="header">
    <span class="action-span"><a href="{:U('cateList')}">商品分类</a></span>
    <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 添加分类 </span>
    <div style="clear:both"></div>
    <link rel="stylesheet" href="__PUBLIC_ADMIN__/datetime_js/dist/jquery-ui-timepicker-addon.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC_ADMIN__/datetime_js/dist/jquery-ui-timepicker-addon.css" type="text/css">
    <link type="text/css" href="http://code.jquery.com/ui/1.9.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
</block>
<block name="body">
    <form action="" method="post" name="theForm" enctype="multipart/form-data">
        <table width="100%" id="general-table">

            <div style=" margin:0 auto; width:400px; height:100px;">
                <div style="float: left"> <img src="/{$goodsInfo.goods_thumb}"></div>
                <div style="float: left">

                    <p><span style="color: red"><b>*每日秒杀上限为5<b></span></p>
                    <p><span>商品名称:</span>{$goodsInfo.goods_name}</p>
                    <p><span>商品价格:</span>{$goodsInfo.shop_price}元</p>
                    <p><span>促销价格:</span>{$goodsInfo.cx_price}元</p> </div>
            </div>
            <tr>
                <td class="label">开始时间:</td>
                <td>
                    <input type='text' name='btime' id="btime" maxlength="20" value='' size='27' /> <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td class="label">结束时间:</td>
                <td>
                    <input type='text' name='etime' id="etime" maxlength="20" value='' size='27' /> <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td class="label">秒杀价格:</td>
                <td>
                    <input type='text' name='seckill_price' maxlength="20" value='' size='27' /> <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td class="label">商品数量:</td>
                <td>
                    <input type='text' name='goods_num' maxlength="20" value='' size='27' /> <font color="red">*</font>
                </td>
            </tr>
            <input type="hidden" name="goods_id" value="{$goodsInfo.id}">
        </table>
        <div class="button-div">
            <input type="submit" value=" 确定 " />
            <input type="reset" value=" 重置 " />
        </div>
    </form>
</block>
<block name="js">
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.1/jquery-ui.min.js"></script>
    <script src="__PUBLIC_ADMIN__/datetime_js/dist/jquery-ui-timepicker-addon.js" type="text/javascript"></script>
    
    <script type="text/javascript">
    $(function () {
        
        console.log(12345678);
        jQuery('#btime').datetimepicker({
            timeFormat: "HH:mm:ss",
            dateFormat: "yy-mm-dd"
        });
        jQuery('#etime').datetimepicker({
            timeFormat: "HH:mm:ss",
            dateFormat: "yy-mm-dd"
        });
    })
</script>
</block>
